*{
    margin: 0px;
    padding: 0px;
    font-family:Helvetica;
}

.wrap{
    background-color:rgba(113, 180, 96, 0.555); 
    width: 600px; 
    color:white; 
    margin: 0px auto; 
    padding:15px;
    font-size: 20px;
}

header{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.062), rgba(53, 52, 52, 0.616)), url(img/bg_index.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    list-style-type: none;
    float: left;
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 2px solid saddlebrown;
    transition: 0.6s;
    background-color: rgba(180, 120, 96, 0.89);
  }
  
  ul li :hover{
    background-color: rgba(113, 180, 96, 0.89);
    color: rgb(58, 61, 56);
    border: 2px solid yellowgreen;
  }

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: white;
    font-size: 42px;
    text-decoration: none;
}