*{
    margin: 0px;
    padding: 0px;
    font-family:Helvetica;
}

header{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.062), rgba(53, 52, 52, 0.377)), url(img/bg_index.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid ;
    transition: 0.6s;
}

a{
    background-color:rgba(180, 120, 96, 0.89);  
    color: black;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: white;
    font-size: 42px;
    text-decoration: none;
}

.button {
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.btn {
    border: 2px solid saddlebrown;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s;
}

.btn:hover {
    background-color:rgba(113, 180, 96, 0.89); 
    color: rgb(58, 61, 56);
    border: 2px solid yellowgreen;
}


